<div>
    <h1>Investments</h1>
    <div>
        <label>Filter by:</label>
        <select [(ngModel)]="selectedCategory">
            <option value="">All</option>
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <button (click)="handleFilterByCategory()">Apply Filter</button>
    </div>
    <ul>
        <li *ngFor="let item of investments">
            {{ item.name }} - {{ item.amount }} - {{ item.date | date }} - {{ item.category }}
            <button (click)="handleEditInvestment(item.id)">Edit</button>
            <button (click)="handleDeleteInvestment(item.id)">Delete</button>
        </li>
    </ul>
    <div>
        <h2>Create/Update Investment</h2>
        <input type="text" name="name" [(ngModel)]="investment.name" placeholder="Name"
            (input)="handleInputChange($event)" />
        <input type="number" name="amount" [(ngModel)]="investment.amount" placeholder="Amount"
            (input)="handleInputChange($event)" />
        <input type="date" name="date" [(ngModel)]="investment.date" placeholder="Date"
            (input)="handleInputChange($event)" />
        <input type="text" name="category" [(ngModel)]="investment.category" placeholder="Category"
            (input)="handleInputChange($event)" />
        <button (click)="selectedId ? handleUpdateInvestment() : handleCreateInvestment()"
            [disabled]="isCreateButtonDisabled()">
            {{ selectedId ? 'Update' : 'Create' }}
        </button>
    </div>
</div>